<main *ngIf="activeSession$ | async; else newSession">
  Coming Soon to a browser near you!
  <div mat-tab *ngIf="allRecipes$ | asyc; else loading">
    <!-- <home>
      <card-container?>
        <card ngFor>

        </card>
      </card-container>
    </home>
    <create>
      <create-form>

      </create-form>
    </create> -->
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</main>  


<ng-template #newSession>
  <app-landing-page></app-landing-page>
</ng-template>
