<main *ngIf="activeSession; else newSession">
  Coming Soon to a browser near you!
  <!-- <mat-tab *ngIf="allRecipesGET; else loading">
    <home>
      <card-container?>
        <card ngFor>

        </card>
      </card-container>
    </home>
    <create>
      <create-form>

      </create-form>
    </create>
  </mat-tab>
  <div>
    Loading Wheel
  </div> -->
</main>  


<ng-template #newSession>
  <main>
    <h1>Recipe Book</h1>
    <button mat-raised-button>
      <!-- sets session cookie, and runs GET call for ALL recipes -->
      Get Started
    </button mat-raised-button>
  </main>
</ng-template>